body {
    background-color: mediumaquamarine;
}
#score {
    font-size: 25px;
    margin-left: 250px;
    float: left;
}
#timer {
    font-size: 25px;
    margin-right: 250px;
    float: right;
}
#sketch_to_be_drawn {
    font-size: 30px;
    color: blueviolet;
    font-weight: bold;
}
